/* btn */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  border-radius: 12px;
  border: none;
  padding: 0 28px;

  color: #fff;
  transition: opacity 0.2s ease;
}

.btn:hover {
  opacity: 0.85;
}

.btn--primary {
  background-color: var(--orange-color);
}

.btn--secondary {
  background-color: var(--purple-color);
}
/* header */
.header {
  padding-block: 28px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.page__logo span {
  font-size: 16px;
  font-weight: 700;
}
.header__nav-list {
  display: flex;
  gap: 40px;
}
.header__nav-list a {
  font-size: 18px;
  font-weight: 500;
}
.header__phone {
  display: flex;
  gap: 12px;
}
.header__phone-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 1;
}
.header__phone-info p {
  font-size: 16px;
  font-weight: 500;
}
.header__phone-info a {
  font-size: 16px;
  font-weight: 600;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding-top: 90px;
}
/* footer */
.footer {
  padding-block: var(--section-padding-md) 40px;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer-guide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-guide__item {
  display: flex;
  gap: 12px;
}
.footer-guide__icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.footer-guide__link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: inherit;
}
.footer-guide__link:hover {
  opacity: 0.8;
}
.footer-guide__icon {
  width: 24px;
  height: 24px;
  color: var(--white-color);
}
.footer-guide__title {
  font-size: 16px;
  font-weight: 500;
}
.footer-guide__info {
  font-size: 16px;
  font-weight: 600;
}
.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-info__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
}
.footer-info__sns {
  display: flex;
  gap: 20px;
}
.footer-info__logo {
  width: 24px;
  height: 24px;
}
.footer-info__items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-info__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
.footer-info__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1;
}
.footer-info__link {
  font-size: 16px;
  font-weight: 500;
}
.footer-info__apps {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
/* .vehicle-card */
.vehicle-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 24px;
  background-color: #fafafa;
  border-radius: 20px;
}
.vehicle-card__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.vehicle-card__header {
  display: flex;
  justify-content: space-between;
}
.vehicle-card__name {
  display: flex;
  flex-direction: column;
}
.vehicle-card__title {
  font-size: 24px;
  font-weight: 600;
}
.vehicle-card__type {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.vehicle-card__price {
  display: flex;
  flex-direction: column;
}
.vehicle-card__price-value {
  font-size: 24px;
  font-weight: 600;
  color: var(--purple-color);
}
.vehicle-card__price-unit {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.vehicle-card__info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.vehicle-card__feature {
  display: flex;
  align-items: center;
  gap: 8px;
}
.vehicle-card__link-button {
  height: 50px;
}
/* brand-list */
.brand-list {
}
/* page-hero */
.page-hero {
}
.page-hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: 70px;
}
.page-hero__title {
  font-size: 50px;
  font-weight: 700;
}
.breadcrumb {
}
.breadcrumb__list {
  display: flex;
  font-size: 20px;
  font-weight: 500;
}
.breadcrumb__home {
  color: #9b9b9b;
}
.breadcrumb__page {
}
